{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
    <article>
       <h1>{{ article.title }}</h1>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à
           {{ article.createdAt |date('H:i') }} dans la categoies politique</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{ article.content |raw }}</p>
            <a href="{{ path('blog_show',{'id':article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    {% endfor %}
{% endblock %}
