{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>{{ article.title }}</h1>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à
            {{ article.createdAt |date('H:i') }} dans la categoies {{ article.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{ article.content |raw }}</p>
        </div>
    </article>
    <section class="commentaires">
        <h1>{{ article.comments |length }} Commentaires :</h1>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw}}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
     {% if app.user %}
      {{ form_start(formComment) }}
          {{ form_row(formComment.author,{'attr':{'placeholder':"Ajouter votre nom"}}) }}
         {{ form_row(formComment.content,{'attr':{'placeholder':"Ajouter votre commentaires"}}) }}
         <button type="submit" class="btn btn-primary">Commenter !</button>
      {{ form_end(formComment) }}
    {% else %}
        <h2>Vous ne pouvez pas commenter si vous n'étes pas connecté !</h2>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
    {% endif %}
{% endblock %}